.main1{
  padding: 5%;
    color: #fff;
    /* margin-top: 5%; */
    background: linear-gradient(-70deg, #474747, #000000d1);
    background-image: url(https://images.pexels.com/photos/1008206/pexels-photo-1008206.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}

.box_{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    width: 80%;
    min-height: 100px;
    max-height: fit-content;
    box-shadow: 5px 8px 8px #8888883e;
    padding: 2%;
    margin-top: 4%; */


    /* height: 260px; */
    width: 80%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgb(0 0 0 / 25%);
    padding: 30px 30px 30px 30px;
    overflow: hidden;
    min-height: 100px;
    max-height: fit-content;
    margin-top: 2%;
}

.fixed {
    z-index: 4;
    position: fixed;
    background: #fb2a0f9f;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px #000;
    color: #fff;
  }

  .wrapper {
    width: 100%;
    margin: auto;
    background-color: #ccc;
  }

  
.container{
    display: flex;
    /* padding: 2%; */
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(120deg, #1D976C, #2c3e50);
}

.circle-circle-2 {
    position: absolute;
    height: 270px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 1; */
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(120deg, #1D976C, #2c3e50);
    height: 240px;
    width: 240px;
    bottom: 40px;
    right: -100px;
    opacity: 0.8;
    animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    animation-iteration-count: infinite;
    animation-name: float;
    -webkit-animation-name: float;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    /* -webkit-animation-delay: 2s; */
    /* animation-delay: 2s; */
    animation-direction: alternate;
}

.circle-1 {
    position: absolute;
    height: 270px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 1; */
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(120deg, #1D976C, #2c3e50);
    height: 300px;
    width: 300px;
    top: 100px;
    left: 80px;
    opacity: 0.8;
    animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    animation-iteration-count: infinite;
    animation-name: float;
    -webkit-animation-name: float;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    /* -webkit-animation-delay: 3.5s; */
    /* animation-delay: 3.5s; */
    animation-direction: alternate;
}

@keyframes float {

    0% {
      -webkit-transform: rotateX(0deg) translateY(0px);
      -moz-transform: rotateX(0deg) translateY(0px);
      -ms-transform: rotateX(0deg) translateY(0px);
      -o-transform: rotateX(0deg) translateY(0px);
      transform: rotateX(0deg) translateY(0px);
      }
  
    50% {
      -webkit-transform: rotateX(0deg) translateY(1px) translateX(5px);
      -moz-transform: rotateX(0deg) translateY(10px) translateX(5px);
      -ms-transform: rotateX(0deg) translateY(30px) translateX(5px);
      -o-transform: rotateX(0deg) translateY(40px) translateX(5px);
      transform: rotateX(0deg) translateY(10px) translateX(5px);
  }
    100% {
      -webkit-transform: rotateX(0deg) translateY(0px) translateX(1px);
      -moz-transform: rotateX(0deg) translateY(0px) translateX(1px);
      -ms-transform: rotateX(0deg) translateY(0px) translateX(1px);
      -o-transform: rotateX(0deg) translateY(0px) translateX(1px);
      transform: rotateX(0deg) translateY(0px) translateX(1px);
    }
  
  }

  @media only screen and (max-width: 600px) {
    .circle-circle-2{
        display: none;
    }
    .circle-1{
      display: none;
    }
  }